<div id="giscus-container">
    <script src="https://giscus.app/client.js"
        data-repo="dangehub/qlog"
        data-repo-id="R_kgDOMiDbtQ"
        data-category="Announcements"
        data-category-id="DIC_kwDOMiDbtc4CiS8E"
        data-mapping="title"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
    </script>
</div>
